:root {
  --basic-title-color: #212121;
  --base-text-color: #757575;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --background-icon: #F5F4FA;
  --color-icon-command: #AFB1B8;
}

body {
  margin: 0;
  color: var(--basic-title-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background: var(--white-color);  
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*Контейнер*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; 
}

/*Секция*/
.section {
  padding: 94px 0;
 }

 .section.no-padding {
  padding-top: 0;
 }

/*header*/
.header{
  border-bottom: 1px solid #EEEEEE;
  
}
.nav-contact,
.nav-header {
  display: flex;   
}

/* Логотип*/

.logo{ 
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: 'Raleway', sans-serif;
  color: #000000;
  text-decoration: none; 
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo-blue {
  color: var(--blue-color);
}

/* Навигация */

.navigator-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  text-decoration: none;
  list-style: none;  
}

.navigator-list .link {
  display: block;  
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--basic-title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; 
}

.link.studio {
  position: relative;
  color: var(--blue-color);  
}
.link.studio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;  
   
  border: 2px solid var(--blue-color);
  border-radius: 2px;
  background-color: var(--blue-color);
}
.link:hover,
.link:focus{
  color: var(--blue-color);
}

.navigator-item:not(:last-child) {
margin-right: 50px;
}

/*Контакты*/

.contact-list {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}


.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--base-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
 }

.contact-icon-mail, 
.contact-icon-tel {
  
  margin-right: 10px;  
  fill: currentColor;
}

 
.contact-link:hover,
.contact-link:focus {
  color: var(--blue-color);
}


/*Герой*/
.hero {  
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
   
  color: var(--white-color);
  background: #2F303A;
  line-height: 1.36;    
  text-align: center;   

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), 
  rgba(47, 48, 58, 0.4)),
  url('../images/background/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {  
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;  
  margin-left: auto;
  margin-right: auto;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;  
}

.hero-button{
  min-width: 200px;
  padding: 10px 32px;
  border: 0 solid transparent;
  border-radius: 4px;
  
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em; 
  }

.hero-button:hover,
.hero-button:hover{
  background-color: #188CE8;
}

/* Проекты*/

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.project-list {  
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  
  list-style: none;
}

.project-item{
  width: 270px;  
}

.project-item:not(:last-child) {
  margin-right: 30px;
}

/* Иконки пректов */
.block-icon{  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;

  background-color: var(--background-icon); 
}

.project-title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.project-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--base-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Карточки проектов*/

.project-cards-title,
.command-title,
.client-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center; 
}

.project-cards-list{
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;  

  list-style: none;  
  }

.project-cards-item:not(:last-child){
  margin-right: 30px;    
}
.project-cards-item {
  position: relative;
}
.project-cards-thumb{
  position: relative;
  
}
.thumb-subject::before{
  
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  /* background-image: linear-gradient(to top, rgba(47, 48, 58, 0.8),
  rgba(47, 48, 58, 0.8); */
}

.project-thumb-subject{  
  position: absolute;
  bottom: 27px;
  left: 83px;
  margin: 0;
 
  color: var(--white-color);
  
  text-transform: uppercase;  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
/*Команда*/

.command {  
  background-color: #F5F4FA; 
}

.command-list{
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;  
}

.command-item:not(:last-child) {
  margin-right: 30px;
}

.command-container{
  padding: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
}

.command-heading {
  margin-top: 0;
  margin-bottom: 10px;  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;  
}

.command-text {
  margin-top: 0;
  margin-bottom: 16px;
  
  color: var(--base-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;  
}

.social-command-list{
  display: flex; 
  justify-content: center; 
  padding-left: 0;
  
  list-style: none;
}

.item-command-link:not(:last-child){
  margin-right: 10px;
}

.command-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  
  border-radius:50%;  
 }

.command-link:focus, 
.command-link:hover{
  background-color: var(--blue-color);

}
.command-link:focus .icon-social-link,
.command-link:hover .icon-social-link{
  fill: var(--white-color);
}

.icon-social-link {  
  fill: var(--color-icon-command); 
}

/* Клиенты */

.client-list{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.client-item:not(:last-child){
 margin-right: 30px;
}
.client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  
  border: 1px solid var(--color-icon-command);
  border-radius: 4px;
}
.client-logo {
  fill: var(--color-icon-command);
}
.client-link:hover,
.client-link:focus{
  border: 1px solid var(--blue-color);
}
.client-link:hover .client-logo,
.client-link:focus .client-logo{
  fill:var(--blue-color);
  
}

/*Footer*/
.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2F303A;
}
.footer-container {
  display: inline-flex;
  align-items: baseline;
}
.logo-footer {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;  

  font-family: 'Raleway',
    sans-serif;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/*Адрес*/

.footer-list{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;  

  list-style: none;
  font-style: normal;
}

.address-item:not(:last-child){
  margin-bottom: 9px;
}

.address-map,
.address-link {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;  
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus{
  color: var(--white-color);
}
/* Присоединяйтесь */

.social-link{  
  margin-left: 70px;
}

.join{
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-social-list{
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.join-social-item:not(:last-child) {
  margin-right: 10px;
}
.join-social-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  
  border-radius:50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.join-social-icon{  
  fill: var(--white-color);
  
}
.join-social-link:hover,
.join-social-link:focus{
  background-color: var(--blue-color);
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;
  background-color: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  
  cursor: pointer;
}

/* .icon-close-black {
  fill: #000000;
} */
/*Портфолио*/

.link.portfolio {
  position: relative;
  color: var(--blue-color);
}
 

.link.portfolio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

  border: 2px solid var(--blue-color);
  border-radius: 2px;
  background-color: var(--blue-color);
}
/* Кнопки в портфолио*/

.portfolio-button-list{
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 50px;  

  list-style: none; 
}

.portfolio-button-item:not(:last-child){
 margin-right: 8px;
}

.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0 solid transparent;

  color: var(--basic-title-color);
  background-color: var(--background-icon);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  cursor: pointer; 
}

.portfolio-button.one {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);  
  }

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Проекты портфолио*/

.portfolio-project-list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;  

  list-style: none;  
}

.portfolio-project-item{
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-project-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-project-item:nth-last-child(-n+3){
  margin-bottom: 0;
}

.portfolio-containers {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.portfolio-project-title {
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio-project-link{
  display: block;
  text-decoration: none;  
}
.portfolio-project-link:hover,
.portfolio-project-link:focus {  
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06),
  1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-project-link .portfolio-project-title {
  color: var(--basic-title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text-thumb{
  position: relative;
  width: 370px;
  height: 294px;
  
  overflow: hidden;
}
.portfolio-text-thumb:hover .portfolio-text-hover{
  transform: translatex(0);
  background-color: rgba(33, 150, 243, 0.9);
}

 .portfolio-text-hover{
  position: absolute;
  bottom: 0;  
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  transform: translatex(-100%);
  transition: transform 250ms ease;
 }
.portfolio-project-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--base-text-color);
  font-size: 16px;
  line-height: 1.88;
}
